backtesting
backtrader
backtrader-plotting
ccxt
dash
dash-daq

dash_bootstrap_components
gunicorn>=19.9.0
matplotlib
# stock data
nasdaq-data-link
pandas
pandas-datareader
pandas_datareader
pandas_ta
pre-commit
yahoo-fin

plotly
streamlit
streamlit-aggrid
cufflinks
