backtesting
backtrader
backtrader-plotting
ccxt
dash
dash-daq

dash_bootstrap_components
gunicorn>=19.9.0
matplotlib
# stock data
nasdaq-data-link
pandas
pandas-datareader
pandas_datareader
pandas_ta
pre-commit
yahoo-fin

plotly>=5.13.0
streamlit>=1.18.1
streamlit-aggrid>=0.3.3
cufflinks>=0.17.3

yfinance
scikit-learn